* {
	font-family: 'Poppins', sans-serif;
}


body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}


.button,button {
    border: none;
    background-color: rgb(27, 219, 7);
    padding: 15px 36px;
    vertical-align: middle;
	position: relative;		
}


.align-center { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	align-items: center; 
	justify-content: center;        /* align vertical and center horizontally */ 
}


.valign-middle { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	align-items: center;            /* align vertical */ 
}


.align-right { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	justify-content: flex-end;     /* align right horizontally */ 
}


.background {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}


.container {
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 750px;
    border-radius: 15px;
    padding-top: 60px; 
    padding-left: 60px;  
	padding-right: 60px;
	padding-bottom: 95px;
}




/* header */

header {
	text-align: center; 
	margin: 0;
}


h1 {
    font-weight: 520;
    font-size: 22px;
    color: rgb(27, 219, 7); 
    margin: 0;  
}


.logo { 
	float: none; 
	width: 180px;
	margin-top: 10px; 
}




/* menu */

.mymenu {
	text-align: center;
}

.mymenu nav {
	background-color: rgb(27, 219, 7);
    padding-top: 5px;
    padding-bottom: 5px;
}

.mymenu button {
	background-color: #fff;
    text-align: center;
    border: 1px solid #808080;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 9px;  12px
    color: #2c2c2c;
    font-weight: 400;  
}




/* monopattini */

.monopattini {
	margin-top: 5px;
	padding-top: 10px;
}
	
.subject {
	font-size: 17px;
    font-weight: 600;
}

.location, .charge {
	font-size: 12px;
}

.line-orange {
	margin-top: 2px;
    width: 35%;
    height: 10px;
    background: rgb(228, 178, 90);
    border-radius: 5px;
    padding: 5px;
}

.line-green {
	margin-top: 2px;
    width: 60%;
    height: 10px;
    background: rgb(112,194,56);
    border-radius: 5px;
    padding: 5px;
}

.line-red {
	margin-top: 2px;
    width: 15%;
    height: 10px;
    background: rgb(165,67,67);
    border-radius: 5px;
    padding: 5px;
}